
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Hinata Kino - bio links</title>
        <meta property="og:title" content="Hinata Kino's Links" />
        <meta property="og:site_name" content="www.etheric-f.com" />
        <meta property="og:description" content="A list of Hinata Kino's most important links." />
        <link rel="stylesheet" href="css/style.css">
        <meta name="theme-color" content="var(--bgColor)">
    </head>
    <body>
            <!--Page Content Below-->
        <img id="userPhoto" class="" src="images/icon_kino.png" alt="Hinata Kino's icon">
        <h1 class="animated jello">Hinata Kino</h1>
        <a href="https://www.etheric-f.com/" id="userName" class="animated fadeIn delay-1s fast" target="_blank">Etheric-F</a>
        <div id="links" class="animated fadeInLeft delay-1s">
            <a class="link" href="https://twitter.com/hinata_k" target="_blank">X(Twitter): @hinata_k</a>
            <a class="link" href="https://instagram.com/HinataKino" target="_blank">Instagram @HinataKino</a>
            <a class="link" href="https://www.youtube.com/@hinata_k" target="_blank">YouTube @hinata_k</a>
            <a class="link" href="https://pixiv.net/users/302412" target="_blank">pixiv</a>
        </div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScsQB-CkQzm25uIAHAwCiNgKa9O_aGDu5bD-wZXMGrh0QhdGQ/viewform" target="_blank" class="animated fadeIn delay-3s slow" id="userName">Email Me</a>
    </body>
</html>
