
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>三原 鉄也 / Tetsuya Mihara - bio links</title>
        <meta property="og:title" content="Tetsuya Mihara's Links" />
        <meta property="og:description" content="A list of Tetsuya Mihara's most important links." />
        <link rel="stylesheet" href="css/style.css">
        <meta name="theme-color" content="var(--bgColor)">
    </head>
    <body>
            <!--Page Content Below-->
        <img id="userPhoto" class="" src="images/icon_mihara.png" alt="Hinata Kino's icon">
        <h1 class="animated jello">三原 鉄也 - Tetsuya Mihara</h1>
        <a href="https://literature.hass.tsukuba.ac.jp/staff_type/tetsuya-mihara/" id="userName" class="animated fadeIn delay-1s fast" target="_blank">University of Tsukuba</a>
        <div id="links" class="animated fadeInLeft delay-1s">
            <a class="link" href="https://researchmap.jp/mihara40" target="_blank">researchmap</a>
            <a class="link" href="https://jglobal.jst.go.jp/detail?JGLOBAL_ID=201701017203150149" target="_blank">J-GLOBAL</a>
            <a class="link" href="https://trios.tsukuba.ac.jp/researcher/0000004052" target="_blank">TRIOS - 筑波大学研究者総覧</a>
            <a class="link" href="https://nrid.nii.ac.jp/ja/nrid/1000020763626/" target="_blank">KAKEN</a>
            <a class="link" href="https://mdlab.slis.tsukuba.ac.jp/" target="_blank">MDLAB - 筑波大学 メタデータ研究室</a>
            <a class="link" href="https://twitter.com/teim_tw" target="_blank">X(Twitter): @teim_tw</a>
        </div>
        <a href="#" target="_blank" class="animated fadeIn delay-3s slow" id="userName">Email Me</a>
    </body>
</html>
